Checks: '*,
  -altera-unroll-loops,
  -llvmlibc-callee-namespace,
  -llvm-header-guard,
  -llvm-namespace-comment,
  -google-build-using-namespace,
  -google-runtime-int,
  -google-readability-namespace-comments,
  -fuchsia-statically-constructed-objects,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-c-arrays,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -hicpp-signed-bitwise,
  -hicpp-no-assembler,
  -hicpp-avoid-c-arrays,
  -hicpp-uppercase-literal-suffix,
  -hicpp-no-array-decay,
  -hicpp-vararg,
  -cert-err58-cpp,
  -cert-err60-cpp'
CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 100